
<div class="col-xs-4">
    <h2><%= @funcion.cartelera.pelicula.nombre%></h2>
    <h4><%= @funcion.cartelera.pelicula.duracion%></h4>
    <h4><%= @funcion.cartelera.pelicula.descripcion%></h4>
    <h4>Horario de la funcion <%= @funcion.fecha %></h4>
    <img src="<%= @funcion.cartelera.pelicula.poster.url%>" ></img>
    
    
</div>

<p id="notice"><%= notice %></p>
<%if socio_signed_in?%>
 <h1>Realizar una Reserva</h1>

            
<%if current_socio.reservado?(@funcion)%>
<%=render'funcions/cancelar'%>

<%else%>

<%=render'funcions/reservar'%>
<%end%>
    

    <%if es_admin?%>



    <%end%>
    
<%end%>


