
 <div class="col-xs-8 col-sm-8  col-md-offset-4 ">
   <%= form_for(@pelicula) do |aux| %>
     <div class="field">
      <%= aux.label :nombre %> <br>
      <%= aux.text_field :nombre %>
      </div>
        <div class="field">

      <%= aux.label :nombre_director %><br>
      <%= aux.text_field :nombre_director %>
      </div>
      <div class="field">

      <%= aux.label :descripcion %><br>
      <%= aux.text_field :descripcion %>
      </div>
      <div class="field">

      <%= aux.label :genero %><br>
      <%= aux.text_field :genero %>
      </div>
      
        <div class="action">
         <br>
      <%= aux.file_field :poster %>
      </div>
      <%= aux.submit "Crear pelicula", class: "btn btn-large btn-primary" %>
<%end%>
</div>