 <div class="col-xs-8 col-sm-8  col-md-offset-4 ">
 <%= form_for(@sede) do |aux| %>
   <div class="field">
      <%= aux.label :nombre %> <br>
      <%= aux.text_field :nombre %>
      </div>
      <div class="field">
      <%= aux.label :telefono %> <br>
      <%= aux.text_field :telefono %>
      </div>
      <div class="field"> 
      <%= aux.label :direccion %> <br>
      <%= aux.text_field :direccion %>
      </div>
      
<div class="field">
<%= aux.select(:ciudad_id) do %>

  <%@ciudades.each do|a|%>

  <%= content_tag(:option, a.nombre, value: a.id) %>

   <% end %>
<% end %>
</div>

    <div class="action">
          <%= aux.submit "Crear Sede", class: "btn btn-large btn-primary" %>
    </div>
<%end%>
</div>