





<%if socio_signed_in?%>
    <%if es_admin?%>


<div class="container well">
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
    <li role="presentation"><a href="#cartelera" aria-controls="cartelera" role="tab" data-toggle="tab">Agregar una Pelicula a la cartelera:</a></li>
    <li role="presentation"><a href="#sala" aria-controls="sala" role="tab" data-toggle="tab">Crear Sala</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="cartelera">
        <%if @peliculas.all!=nil%>
        <%=render 'sedes/crear_cartelera'%>
        <%else%>
        <h1>Ingrese peliculas para crear su cartelera</h1>
        <%end%>
        </div>
   
    <div role="tabpanel" class="tab-pane" id="sala">
        <%=render 'sedes/crear_sala'%>
    </div>
   
    <div role="tabpanel" class="tab-pane active" id="general">
        <%=render 'sedes/informacion'%>
        </div>
  
  </div>

</div>
</div>

<div class="container well">
    <div class="col-xs-12">
    
     <%=render 'sedes/salas'%>
    
    </div>    
</div> 



  


  <% end %>
 <% end %>
            
 
<div class="container well">
    <h2>Cartelera Actual</h2>
    <div class="row">
<%@sede.carteleras.each do|a|%>

            <%if a.pelicula_id!=nil%>

                <div class="col-xs-2 col-md-2">
                    <h4><%=link_to a.pelicula.nombre,a%> </h4>
                    <img src="<%=a.pelicula.poster.url%>" >
                </div>
            
            <% end %>
 <% end %>
  </div>
</div>
