 <%if socio_signed_in?%>
        <%if es_admin?%>
    
    
    
<div class="container well">
    <div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
    <li role="presentation"><a href="#funcion" aria-controls="funcion" role="tab" data-toggle="tab">Crear función</a></li>
    <li role="presentation"><a href="#silla" aria-controls="silla" role="tab" data-toggle="tab">Agregar Sillas</a></li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="funcion">
        <%=render 'salas/crear_funcion'%>
        </div>
   
    <div role="tabpanel" class="tab-pane" id="silla">
        <%=render 'salas/agrega_silla'%>
    </div>
   
    <div role="tabpanel" class="tab-pane active" id="general">
        <%=render 'salas/informacion'%>
        </div>
  
  </div>

</div>
</div>

      
    <%end%>
<%end%>


<div class="container well">

    <%@peliculas.each do |a|%>
    <div class="col-xs-2 pel"> 
                    <h4><%=link_to a.pelicula.nombre,a%> </h4>
                  
                    <img src="<%=a.pelicula.poster.url%>" >
                    
                
    </div>
    <%end%>


</div>